@model PruebasAjax.Models.Persona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ingresar</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("ingresarDatos", "Home", FormMethod.Post, new { id = "Form" }))
        {
            @Html.Label("Documento"); 
            @Html.TextBoxFor(x => Model.Documento);
            <br />
            @Html.Label("Nombre");
            @Html.TextBoxFor(x => Model.Nombre);
            <br />
            @Html.Label("Apellido");
            @Html.TextBoxFor(x => Model.Apellido);
            <br />
            <input type="button" name="btnCrear" value="Crear" id="submit" />
        }

        <script src="~/js/jquery.js"></script>
        <script src="~/js/script.js"></script>
    </div>
</body>
</html>
